%h1 Listing calendars

%table
  %tr
    %th
    %th
    %th

  - @calendars.each do |calendar|
    %tr
      %td= link_to 'Show', calendar
      %td= link_to 'Edit', edit_calendar_path(calendar)
      %td= link_to 'Destroy', calendar, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Calendar', new_calendar_path
